<div class="container">
<h1>Gallery</h1>

 <a ui-sref="user({id:$ctrl.userId})">
  Artist Gallery
</a>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" ui-sref="newUser">
      <i class="large material-icons">+</i>

    </a>
    
  </div>
  <h2 ng-show="$ctrl.error">{{$ctrl.error}}</h2>
<ul>
  <li ng-repeat="artwork in $ctrl.artworks">

    
    <img class="size" ng-src="{{artwork.photo}}"> <br>
    <img class="size" ng-src="{{artwork.paintings}}"><br>
    <img class="size" ng-src="{{artwork.demo}}"><br>
    

    <p>{{artwork.demo}}</p>
    <!-- <iframe ng-if="artwork.artwork_video_url" width="560" height="315" src="{{$ctrl.trustedUrl(artwork.artwork_video_url)}}" frameborder="0" allowfullscreen></iframe> -->
   

    <video width="560" height="315" autoplay>
  <source src="IMG_1597.mp4.mov" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
  </li>
</ul>   
</div>



    <!-- <div><img ng-src="{{artwork.photo}}"></div> -->
