<a class="waves-effect waves-light btn" ui-sref="user({id:$ctrl.userId})">button</a>
<div class="container">
  <div class="row">
    <div class="artwork-center col s12 l8 offset-l2">
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" ui-sref="newUser">
      <i class="large material-icons">+</i>
    </a>
      </div>
      <h2 ng-show="$ctrl.error">{{$ctrl.error}}</h2>
      <ul>
        <div>
          <h1>Gallery</h1>
          <li ng-repeat="artwork in $ctrl.artworks">
            <img class="size" ng-src="{{artwork.photo}}"> <br>
            <img class="size" ng-src="{{artwork.paintings}}"><br>
            <img class="size" ng-src="{{artwork.demo}}"><br>


            <p>{{artwork.demo}}</p>

          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
</div>



<!-- <div><img ng-src="{{artwork.photo}}"></div> -->