<div map-lazy-load="https://maps.google.com/maps/api/js"
     map-lazy-load-params="https://maps.google.com/maps/api/AIzaSyAOK_cnhTd-hO6iTx0y9sihkB6lUu4vl1U"
     class="map">
  <div>
    <ng-map ng-if="$ctrl.marker.latitude" center="41,-87" zoom="15">
      <marker coords="$ctrl.marker"
              icon="$ctrl.marker.icon">
      </marker>
      <marker position="{{$ctrl.marker.latitude}}, {{$ctrl.marker.longitude}}"
        title="You are here"
        animation="Animation.BOUNCE"
        centered="true"></marker>
    </ng-map>
  </div>
</div>

<div
    angular-google-maps-geocoder placeid="{{ event.location }}"
    output="out"
    placeholder="Placeholder goes here..."
    min-length="5"
    wait-ms="500"
></div>

<!-- <h2 ng-click="$ctrl.activate()">Show Map</h2> -->
<a class="waves-effect waves-light btn-large" ng-click="$ctrl.activate()" >Map</a>
