<h1> EVENTS </h1>
<div class="container">

  

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" ui-sref="newEvent">
      <i class="large material-icons">+</i>
    </a>
  </div>



  <div id="cards">
    <ul>
      <li ng-repeat="event in $ctrl.events">
        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Events</span>
                <a>{{event.location}}</a>
                <p>{{event.time}}</p>

                <br>
                <div class="card-action">
                
                <a ui-sref="event({id: event.id})">View Event</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>