// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
      height: 600px;
      width: 100%;
    }

#newEventForm{
 background: rgba(67, 66, 68, .6)
}    

// #eventTitle  h1{
//   color: rgb(255, 255, 255)
// }

#eventShowText h1{
  color: rgb(255, 255, 255)
}

.new-trans-form {
  background: rgba(255, 255, 255, .6);
}

.event-bck-trans {
    background-color: rgba(34, 46, 73,.6) !important;
}

#dropdown1 {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.6);
}

  