// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map{
      height: 600px;
      width: 100%;
    }

#newEventForm{
 background: rgba(67, 66, 68, .6)
}    

#eventTitle  h1{
  color: rgba(45, 4, 94, .8)
}

#eventShowText h1{
  color: rgba(45, 4, 94, .8)
}
  