// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-view-container {
    width: 100vw;
    height: 40px;
    background-color: transparent;
}

#cards {
      position: static;
}

#paintingContainer {
    background: url('http://www.schliefkevision.com/wp-content/uploads/2013/01/panarama.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(40vh );
    width: 100vw;
}

#userCreateForm {
    background: rgba(255, 255, 255, .6)
}
.artist-show-form p {
    font-size: 50px;
    color: white;
}

