<div class="users-container-custom">

  <div class="container userIndex">    
    <h1> ARTIST </h1>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red" ui-sref="newUser">
        <i class="large material-icons">+</i>
      </a>
    </div>  


    <div class="row">
        <div class="col s12 m7">
          <div class="card " ng-repeat="user in $ctrl.users">
            <div class="card-image">
              <img ng-src="{{user.image}}">
              <span class="card-title">{{user.nickname}}</span>
            </div>
            <div class="card-content">
             
                  <!-- <a>{{user.name}}</a> -->
                  <p>{{user.nickname}}</p>
                  <!-- <p>{{user.image}}</p>
                  <p>{{user.email}}</p> -->
            </div>
            <div class="card-action">
                  <a ui-sref="user({id: user.id})">Go to {{user.nickname}}'s page</a>
            </div>
          </div>
        </div>
   
      </div>


    