<!DOCTYPE html>
<html ng-app='ArtistApp'>
  <head>
    <title>Project5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.google.com/maps/api/js"></script>
  </head>

  <body>
  <div class="navbar-fixed">
  
    <nav>
      <div class="nav-wrapper" id="home-view-container">
        <a href="#" class="brand-logo">Talent Tracker</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a ui-sref="events">Events</a></li>
          <li><a ui-sref="home">Home</a></li>
          <li><a href="badges.html">Log In</a></li>
          <li><a href="collapsible.html">Sign Up</a></li>
          <li><a href="collapsible.html">Sign Out</a></li>
        </ul>
      </div>
    </nav>
  </div>
    <div class="paintingContainer">
    <img src="http://www.schliefkevision.com/wp-content/uploads/2013/01/panarama.jpg" alt="">
  </div>
  <ui-view> </ui-view>
  <%= yield %>
  </body>
</html>
